---
---

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

/* HighlightJS overrides */
.hljs {
  max-height: {{site.code_block_max_height | default: "500px"}};
}

/* Copy code button */
.copy-code-button {
  color: #272822;
  background-color: #FFF;
  border-color: #272822;
  border: 2px solid;
  border-radius: 3px 3px 0px 0px;

  /* right-align */
  display: block;
  margin-left: auto;
  margin-right: 0;

  margin-bottom: -2px;
  padding: 3px 8px;
  font-size: 0.8em;
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}

.copy-code-button:focus {
  /* Avoid an ugly focus outline on click in Chrome,
     but darken the button for accessibility.
     See https://stackoverflow.com/a/25298082/1481479 */
  background-color: #E6E6E6;
  outline: 0;
}

.copy-code-button:active {
  background-color: #D9D9D9;
}

.highlight pre {
  /* Avoid pushing up the copy buttons. */
  margin: 0;
}

@media print {
  .no-print {
    display: none !important;
  }
}


/* classes for share buttons */
#share-buttons {
  display: inline-block;
  vertical-align: middle;
}

#share-buttons:after {
  content: "";
  display: block;
  clear: both;
}

#share-buttons>div {
  position: relative;
  text-align: left;
  height: 36px;
  width: 32px;
  float: left;
  text-align: center;
}

#share-buttons>div>svg {
  height: 16px;
  fill: #d5d5d5;
  margin-top: 10px;
}

#share-buttons>div:hover {
  cursor: pointer;
}

#share-buttons>div.facebook:hover>svg {
  fill: #3B5998;
}

#share-buttons>div.twitter:hover>svg {
  fill: #55ACEE;
}

#share-buttons>div.linkedin:hover>svg {
  fill: #0077b5;
}

#share-buttons>div.gplus:hover>svg {
  fill: #dd4b39;
}

#share-buttons>div.mail:hover>svg {
  fill: #7D7D7D;
}

#share-buttons>div.instagram:hover>svg {
  fill: #C73B92;
}

#share-buttons>div.facebook>svg {
  height: 18px;
  margin-top: 9px;
}

#share-buttons>div.twitter>svg {
  height: 20px;
  margin-top: 8px;
}

#share-buttons>div.linkedin>svg {
  height: 19px;
  margin-top: 7px;
}

#share-buttons>div.pinterest>svg {
  height: 20px;
  margin-top: 9px;
}

#share-buttons>div.gplus>svg {
  height: 17px;
  margin-top: 9px;
  position: relative;
  left: 1px;
}

#share-buttons>div.mail>svg {
  height: 14px;
  margin-top: 11px;
}



/* classes for expandable menus. */
/* this class is for the entire container */
.expandable {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.expandable:hover {
  background-color: #ccc;
}

.btnToggle:focus svg {
  outline: 2px solid;
}

.btnToggle svg {
  height: 1em;
  margin-left: 0.5em;
}

[aria-expanded="true"] .vert {
  display: none;
}

[aria-expanded] .hort {
  fill: currentColor;
}

.elemsContainer {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}