{% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
{% endif %}

{% if page.code %}
    <link rel="stylesheet" media="(prefers-color-scheme: light)"
        href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github.min.css">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)"
        href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github-dark.min.css">
    <script defer src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/highlight.min.js"></script>
    <script defer>document.addEventListener('DOMContentLoaded', function(){ hljs.highlightAll(); });</script>
{% endif %}

<script type="text/javascript" src="/js/startScript.js"></script>